style.css
h1, h2{
    color:blue;
}
p {
    color: darkgreen;
}
#main-id h bb                                                                                                                         1 {
   color:chocolate
}